body{
    background-color: lightgray;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px; 
    line-height: 1.5;
}

header{
    margin-bottom: 30px;
}

form{
    padding: 30px;
    background: white;
    border-radius: 10px;
    display: flex;
}