body{
    background-color: lightgray;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px; 
    line-height: 1.5;
}

header{
    margin-bottom: 30px;
}

form{
    padding: 30px;
    background: white;
    border-radius: 10px;
    display: flex;
}

.instructions{
    padding: 16px;
    border: 1px solid lightgrey;
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
}

.submit-button{
    margin-left: 10px;
    background: lightblue;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
}